<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=1280, initial-scale=1.0" />
  <title>CSS Component Library</title>
  <!-- google fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,900&display=swap"
    rel="stylesheet">
  <link
    href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap"
    rel="stylesheet">
  <!-- prism css -->
  <link rel="stylesheet" href="/styles/prism.css">
  <!-- custom css -->
  <link rel="stylesheet" href="/styles/reset.css" />
  <link rel="stylesheet" href="/styles/styles.css" />
</head>

<body>
  <div class="page-container">
    <div class="header">
      <div class="site-logo">
        <a href="/">
          <img src="/assets/images/eule-logo-250px.png" alt="logo image"
            class="logo-img">
        </a>
        <div class="header-title plr-075"><a href="/">Eule CSS</a></div>
      </div>
      <div class="main-menu">
        <div class="main-menu-item">
          <a href="/">Home</a>
        </div>
        <div class="main-menu-item active">
          <a href="/usage.html">Documentation</a>
        </div>
        <div class="main-menu-item">
          <a href="/">Portfolio</a>
        </div>
      </div>
    </div>

    <div class="content">
      <div class="row">
        <div class="col-3-9">
          <div class="col-3">
            <div class="side-menu">
              <div class="heading">Getting Started</div>
              <div class="item ">
                <a href="/usage.html">Usage</a>
              </div>
              <div class="heading">Components</div>
              <div class="item active">
                <a href="/components/avatar.html">Avatar</a>
              </div>
              <div class="item">
                <a href="/components/alert.html">Alert</a>
              </div>
              <div class="item">
                <a href="/components/badge.html">Badge</a>
              </div>
              <div class="item">
                <a href="/components/button.html">Button</a>
              </div>
              <div class="item">
                <a href="/components/card.html">Card</a>
              </div>
              <div class="item">
                <a href="/components/image.html">Image</a>
              </div>
              <div class="item">
                <a href="/components/input.html">Input</a>
              </div>
              <div class="item">
                <a href="/components/text-utilities.html">Text

                  Utilities</a>
              </div>
              <div class="item">
                <a href="/components/lists.html">Lists</a>
              </div>
              <div class="item"><a
                  href="/components/navigation.html">Navigation</a></div>
              <div class="item">
                <a href="/components/modal.html">Modal</a>
              </div>
              <div class="item">
                <a href="/components/rating.html">Rating</a>
              </div>
              <div class="item">
                <a href="/components/toast.html">Toast</a>
              </div>
              <div class="item">
                <a href="/components/grid.html">Grid</a>
              </div>
              <div class="item"><a
                  href="/components/navigation.html">Navigation</a></div>
              <div class="item">
                <a href="/components/slider.html">Slider</a>
              </div>
            </div>
          </div>
          <div class="col-9">
            <h1>Avatars</h1>

            <h2>Standard Avatars</h2>
            <p>Avatars come in 5 sizes:
              <code class="language-css">xs, s, m, l and xl</code>.
            </p>
            <div class="fl-row fljc-sp-evenly flas-center">
              <div class="avatar avatar-xl">
                <img src="/assets/images/eule-1.jpg" alt="avatar image">
              </div>
              <div class="avatar avatar-l">
                <img src="/assets/images/eule-2.jpg" alt="avatar image">
              </div>
              <div class="avatar avatar-m">
                <img src="/assets/images/eule-3.jpg" alt="avatar image">
              </div>
              <div class="avatar avatar-s">
                <img src="/assets/images/eule-4.jpg" alt="avatar image">
              </div>
              <div class="avatar avatar-xs">
                <img src="/assets/images/eule-5.jpg" alt="avatar image">
              </div>
            </div>
            <div class="code-block">
              <pre><code class="language-html">
                &lt;div class="avatar avatar-xl"&gt;
                  &lt;img src="/assets/images/eule-1.jpg" alt="avatar image"&gt;
                &lt;/div&gt;
                &lt;div class="avatar avatar-l"&gt;
                  &lt;img src="/assets/images/eule-2.jpg" alt="avatar image"&gt;
                &lt;/div&gt;
                &lt;div class="avatar avatar-m"&gt;
                  &lt;img src="/assets/images/eule-3.jpg" alt="avatar image"&gt;
                &lt;/div&gt;
                &lt;div class="avatar avatar-s"&gt;
                  &lt;img src="/assets/images/eule-4.jpg" alt="avatar image"&gt;
                &lt;/div&gt;
                &lt;div class="avatar avatar-xs"&gt;
                  &lt;img src="/assets/images/eule-5.jpg" alt="avatar image"&gt;
                &lt;/div&gt;
              </code></pre>
            </div>

            <h2>Avatars with Status</h2>
            <p>Avatars can have a status if needed. The colors names used are:
              <code class="language-plain">
                primary, secondary, success, danger, warning, info, light and dark</code>.
              The size of the status highlighter will alter based on the size of
              the avatar size (<code
                class="language-css">.avatar-l, .avatar-m, etc.</code>) class

            </p>
            <div class="fl-row fljc-sp-evenly flas-center">
              <div class="avatar avatar-xl">
                <img src="/assets/images/eule-1.jpg" alt="avatar image">
                <span class='avatar-status status-success'></span>
              </div>
              <div class="avatar avatar-l">
                <img src="/assets/images/eule-2.jpg" alt="avatar image">
                <span class='avatar-status status-danger'></span>
              </div>
              <div class="avatar avatar-m">
                <img src="/assets/images/eule-3.jpg" alt="avatar image">
                <span class='avatar-status status-warning'></span>
              </div>
              <div class="avatar avatar-s">
                <img src="/assets/images/eule-4.jpg" alt="avatar image">
                <span class='avatar-status status-primary'></span>
              </div>
              <div class="avatar avatar-xs">
                <img src="/assets/images/eule-5.jpg" alt="avatar image">
                <span class='avatar-status status-secondary'></span>
              </div>
            </div>
            <div class="code-block">
              <pre><code class="language-html">
                &lt;div class="avatar avatar-xl"&gt;
                  &lt;img src="/assets/images/eule-1.jpg" alt="avatar image"&gt;
                &lt;/div&gt;
                &lt;div class="avatar avatar-l"&gt;
                  &lt;img src="/assets/images/eule-2.jpg" alt="avatar image"&gt;
                &lt;/div&gt;
                &lt;div class="avatar avatar-m"&gt;
                  &lt;img src="/assets/images/eule-3.jpg" alt="avatar image"&gt;
                &lt;/div&gt;
                &lt;div class="avatar avatar-s"&gt;
                  &lt;img src="/assets/images/eule-4.jpg" alt="avatar image"&gt;
                &lt;/div&gt;
                &lt;div class="avatar avatar-xs"&gt;
                  &lt;img src="/assets/images/eule-5.jpg" alt="avatar image"&gt;
                &lt;/div&gt;
              </code></pre>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="footer">
      <h1>Footer</h1>
    </div>
  </div>
  <!-- syntax highlighting -->
  <script src="/scripts/prism.js"></script>
  <!-- connecting javascript files -->
  <script src="/scripts/script.js"></script>
</body>

</html>
