<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=1280, initial-scale=1.0" />
  <title>CSS Component Library</title>
  <!-- google fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,900&display=swap"
    rel="stylesheet">
  <link
    href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap"
    rel="stylesheet">
  <!-- prism css -->
  <link rel="stylesheet" href="/styles/prism.css">
  <!-- custom css -->
  <link rel="stylesheet" href="/styles/reset.css" />
  <link rel="stylesheet" href="/styles/styles.css" />
  <!-- font-awesome icon kit -->
  <script src="https://kit.fontawesome.com/3e74c1a97c.js"
    crossorigin="anonymous"></script>
</head>

<body>
  <div class="page-container">
    <div class="header">
      <div class="site-logo">
        <a href="/">
          <img src="/assets/images/eule-logo-250px.png" alt="logo image"
            class="logo-img">
        </a>
        <div class="header-title plr-075"><a href="/">Eule CSS</a></div>
      </div>
      <div class="main-menu">
        <div class="main-menu-item">
          <a href="/">Home</a>
        </div>
        <div class="main-menu-item active">
          <a href="/usage.html">Documentation</a>
        </div>
        <div class="main-menu-item">
          <a href="/">Portfolio</a>
        </div>
      </div>
    </div>
    <div class="content">
      <div class="row">
        <div class="col-3-9">
          <div class="col-3 menu-col">
            <div class="side-menu">
              <div class="heading">Getting Started</div>
              <a href="/usage.html">
                <div class="item">
                  Usage
                </div>
              </a>
              <div class="heading">Components</div>
              <a href="/components/layout.html">
                <div class="item active">
                  Layout
                </div>
              </a>
              <a href="/components/avatar.html">
                <div class="item">
                  Avatar
                </div>
              </a>
              <a href="/components/alert.html">
                <div class="item">
                  Alert
                </div>
              </a>
              <a href="/components/badge.html">
                <div class="item">
                  Badge
                </div>
              </a>
              <a href="/components/button.html">
                <div class="item">
                  Button
                </div>
              </a>
              <a href="/components/card.html">
                <div class="item">
                  Card
                </div>
              </a>
              <a href="/components/image.html">
                <div class="item">
                  Image
                </div>
              </a>
              <a href="/components/input.html">
                <div class="item">
                  Input
                </div>
              </a>
              <a href="/components/text-utilities.html">
                <div class="item">
                  Text
                  Utilities
                </div>
              </a>
              <a href="/components/lists.html">
                <div class="item">
                  Lists
                </div>
              </a>
              <a href="/components/navigation.html">
                <div class="item">
                  Navigation
                </div>
              </a>
              <a href="/components/modal.html">
                <div class="item">
                  Modal
                </div>
              </a>
              <a href="/components/rating.html">
                <div class="item">
                  Rating
                </div>
              </a>
              <a href="/components/toast.html">
                <div class="item">
                  Toast
                </div>
              </a>
              <a href="/components/grid.html">
                <div class="item">
                  Grid
                </div>
              </a>
              <a href="/components/navigation.html">
                <div class="item">
                  navigation
                </div>
              </a>
              <a href="/components/slider.html">
                <div class="item">
                  Slider
                </div>
              </a>
            </div>
          </div>
          <div class="col-9">
            <h1>Layout</h1>
            <p>This library supports a 12-column grid layout and a fractional
              style column layout</p>

            <!-- - START grid layout - -->
            <h2>Grid Layout</h2>

            <p>Two column and three column grid layouts have been designed. 2
              Column layouts available are <code
                class="language-html">grid-2, grid-3, grid-4</code>,
              and <code class="language-html">grid-5</code>.</p>

            <!-- -- start 2 col grid -- -->
            <h3>2 Column Grids</h3>

            <div class="grid grid-2">
              <div class="fl flex-center debug debug-bg-1">
                Content
              </div>
              <div class="fl flex-center debug debug-bg-2">
                Content
              </div>
            </div>

            <div class="code-block">
              <pre><code class="language-html">
                &lt;div class="grid grid-2"&gt;
                  &lt;div class="fl fl-center"&gt;
                    Content
                  &lt;/div&gt;
                  &lt;div class="fl fl-center"&gt;
                    Content
                  &lt;/div&gt;
                &lt;/div&gt;
              </code></pre>
            </div>
            <!-- -- end 2 col grid -- -->

            <!-- -- start 3 col grid -- -->
            <h3>3 Column Grids</h3>

            <div class="grid grid-3">
              <div class="fl flex-center debug debug-bg-1">
                Content
              </div>
              <div class="fl flex-center debug debug-bg-2">
                Content
              </div>
              <div class="fl flex-center debug debug-bg-1">
                Content
              </div>
            </div>

            <div class="code-block">
              <pre>
                <code class="language-html">
                  &lt;div class="grid grid-2"&gt;
                    &lt;div class="fl fl-center"&gt;
                      Content
                    &lt;/div&gt;
                    &lt;div class="fl fl-center"&gt;
                      Content
                    &lt;/div&gt;
                    &lt;div class="fl fl-center"&gt;
                      Content
                    &lt;/div&gt;
                  &lt;/div&gt;
                </code>
              </pre>
            </div>
            <!-- -- end 3 col grid -- -->

            <!-- -- start 4 col grid -- -->
            <h3>4 Column Grids</h3>

            <div class="grid grid-4">
              <div class="fl flex-center debug debug-bg-1">
                Content
              </div>
              <div class="fl flex-center debug debug-bg-2">
                Content
              </div>
              <div class="fl flex-center debug debug-bg-1">
                Content
              </div>
              <div class="fl flex-center debug debug-bg-2">
                Content
              </div>
            </div>

            <div class="code-block">
              <pre>
                <code class="language-html">
                  &lt;div class="grid grid-2"&gt;
                    &lt;div class="fl fl-center"&gt;
                      Content
                    &lt;/div&gt;
                    &lt;div class="fl fl-center"&gt;
                      Content
                    &lt;/div&gt;
                    &lt;div class="fl fl-center"&gt;
                      Content
                    &lt;/div&gt;
                    &lt;div class="fl fl-center"&gt;
                      Content
                    &lt;/div&gt;
                  &lt;/div&gt;
                </code>
              </pre>
            </div>
            <!-- -- end 4 col grid -- -->

            <!-- -- start 4 col grid -- -->
            <h3>5 Column Grids</h3>

            <div class="grid grid-5">
              <div class="fl flex-center debug debug-bg-1">
                Content
              </div>
              <div class="fl flex-center debug debug-bg-2">
                Content
              </div>
              <div class="fl flex-center debug debug-bg-1">
                Content
              </div>
              <div class="fl flex-center debug debug-bg-2">
                Content
              </div>
              <div class="fl flex-center debug debug-bg-1">
                Content
              </div>
            </div>

            <div class="code-block">
              <pre>
                <code class="language-html">
                  &lt;div class="grid grid-2"&gt;
                    &lt;div class="fl fl-center"&gt;
                      Content
                    &lt;/div&gt;
                    &lt;div class="fl fl-center"&gt;
                      Content
                    &lt;/div&gt;
                    &lt;div class="fl fl-center"&gt;
                      Content
                    &lt;/div&gt;
                    &lt;div class="fl fl-center"&gt;
                      Content
                    &lt;/div&gt;
                    &lt;div class="fl fl-center"&gt;
                      Content
                    &lt;/div&gt;
                  &lt;/div&gt;
                </code>
              </pre>
            </div>
            <!-- -- end 4 col grid -- -->

            <!-- - END grid layout - -->

            <h2>12 Column Layout</h2>

            <h3>12 Column Full Width</h3>

            <div class="row row-full">
              <div class="col-12 debug debug-bg-1">12 Columns</div>
            </div>

            <div class="code-block">
              <pre><code class="language-html">
                &lt;div class="row row-full"&gt;
                  &lt;div class="col-12"&gt;12 Columns&lt;/div&gt;
                &lt;/div&gt;
              </code></pre>
            </div>

            <h3>9 + 3 Columns Layout</h3>

            <div class="row">
              <div class="col-9-3">
                <div class="col-9 debug debug-bg-1">9 Columns</div>
                <div class="col-3 debug debug-bg-2">3 Columns</div>
              </div>
            </div>

            <div class="code-block">
              <pre>
              <code class="language-html">
                &lt;div class="row"&gt;
                  &lt;div class="col-9-3"&gt;
                    &lt;div class="col-9"&gt;9 Columns&lt;/div&gt;
                    &lt;div class="col-3"&gt;3 Columns&lt;/div&gt;
                  &lt;/div&gt;
                &lt;/div&gt;
              </code>
            </pre>
            </div>

            <h3>8 + 4 Columns Layout</h3>


            <div class="row">
              <div class="col-8-4">
                <div class="col-8 debug debug-bg-1">4 Columns</div>
                <div class="col-4 debug debug-bg-2">8 Columns</div>
              </div>
            </div>

            <div class="code-block">
              <pre>
              <code class="language-html">
                &lt;div class="row"&gt;
                  &lt;div class="col-8-4"&gt;
                    &lt;div class="col-8"&gt;4 Columns&lt;/div&gt;
                    &lt;div class="col-4"&gt;8 Columns&lt;/div&gt;
                  &lt;/div&gt;
                &lt;/div&gt;
              </code>
            </pre>
            </div>

            <h3>6 + 6 Columns Layout</h3>

            <div class="row">
              <div class="col-6-6">
                <div class="col-6-1 debug debug-bg-1">6 Columns</div>
                <div class="col-6-2 debug debug-bg-2">6 Columns</div>
              </div>
            </div>

            <div class="code-block">
              <pre>
              <code class="language-html">
                &lt;div class="row"&gt;
                  &lt;div class="col-6-6"&gt;
                    &lt;div class="col-6-1"&gt;6 Columns&lt;/div&gt;
                    &lt;div class="col-6-2"&gt;6 Columns&lt;/div&gt;
                  &lt;/div&gt;
                &lt;/div&gt;
              </code>
            </pre>
            </div>

            <h3>4 + 8 Columns Layout</h3>

            <div class="row">
              <div class="col-4-8">
                <div class="col-4 debug debug-bg-1">4 Columns</div>
                <div class="col-8 debug debug-bg-2">8 Columns</div>
              </div>
            </div>

            <div class="code-block">
              <pre>
              <code class="language-html">
                &lt;div class="row"&gt;
                  &lt;div class="col-4-8"&gt;
                    &lt;div class="col-4"&gt;4 Columns&lt;/div&gt;
                    &lt;div class="col-8"&gt;8 Columns&lt;/div&gt;
                  &lt;/div&gt;
                &lt;/div&gt;
              </code>
            </pre>
            </div>

            <h3>3 + 9 Columns Layout</h3>

            <div class="row">
              <div class="col-3-9">
                <div class="col-3 debug debug-bg-1">3 Columns</div>
                <div class="col-9 debug debug-bg-2">9 Columns</div>
              </div>
            </div>

            <div class="code-block">
              <pre>
              <code class="language-html">
                &lt;div class="row"&gt;
                  &lt;div class="col-3-9"&gt;
                    &lt;div class="col-3"&gt;3 Columns&lt;/div&gt;
                    &lt;div class="col-9"&gt;9 Columns&lt;/div&gt;
                  &lt;/div&gt;
                &lt;/div&gt;
              </code>
            </pre>
            </div>

            <h3>4 + 4 + 4 Columns Layout</h3>

            <div class="row">
              <div class="col-4-4-4">
                <div class="col-4-1 debug debug-bg-1">4 Columns</div>
                <div class="col-4-2 debug debug-bg-2">4 Columns</div>
                <div class="col-4-3 debug debug-bg-3">4 Columns</div>
              </div>
            </div>

            <div class="code-block">
              <pre>
              <code class="language-html">
                &lt;div class="row"&gt;
                  &lt;div class="col-4-4-4"&gt;
                    &lt;div class="col-4-1"&gt;4 Columns&lt;/div&gt;
                    &lt;div class="col-4-2"&gt;4 Columns&lt;/div&gt;
                    &lt;div class="col-4-3"&gt;4 Columns&lt;/div&gt;
                  &lt;/div&gt;
                &lt;/div&gt;
              </code>
            </pre>
            </div>

            <h3>3 + 6 + 3 Columns Layout</h3>

            <div class="row">
              <div class="col-3-6-3">
                <div class="col-3-1 debug debug-bg-1">3 Columns</div>
                <div class="col-6 debug debug-bg-2">6 Columns</div>
                <div class="col-3-2 debug debug-bg-3">3 Columns</div>
              </div>
            </div>

            <div class="code-block">
              <pre>
                <code class="language-html">
                  &lt;div class="row"&gt;
                    &lt;div class="col-3-6-3"&gt;
                      &lt;div class="col-3-1"&gt;3 Columns&lt;/div&gt;
                      &lt;div class="col-6"&gt;6 Columns&lt;/div&gt;
                      &lt;div class="col-3-2"&gt;3 Columns&lt;/div&gt;
                    &lt;/div&gt;
                  &lt;/div&gt;
                </code>
              </pre>
            </div>

            <h3>2 + 8 + 2 Columns Layout</h3>

            <div class="row">
              <div class="col-2-8-2">
                <div class="col-2-1 debug debug-bg-1">2 Columns</div>
                <div class="col-8 debug debug-bg-2">8 Columns</div>
                <div class="col-2-2 debug debug-bg-3">2 Columns</div>
              </div>
            </div>

            <div class="code-block">
              <pre>
                <code class="language-html">
                  &lt;div class="row"&gt;
                    &lt;div class="col-2-8-2"&gt;
                      &lt;div class="col-2-1"&gt;2 Columns&lt;/div&gt;
                      &lt;div class="col-8"&gt;8 Columns&lt;/div&gt;
                      &lt;div class="col-2-2"&gt;2 Columns&lt;/div&gt;
                    &lt;/div&gt;
                  &lt;/div&gt;
                </code>
              </pre>
            </div>

            <h2>Fractional Column Layout</h2>

            <h3>Full Column Layout</h3>

            <div class="layout-one-col debug debug-bg-1">
              <div class="one-col">
                .one-col Column
              </div>
            </div>

            <div class="code-block">
              <pre>
                <code class="language-html">
                  &lt;div class="layout-one-col"&gt;
                    &lt;div class="one-col"&gt;
                      .one-col Column
                    &lt;/div&gt;
                  &lt;/div&gt;
                </code>
              </pre>
            </div>

            <h3>2 Columns Layout</h3>
            <p>You can either use two single columns with two <code
                class="language-html">one-col</code>'s or a single <code
                class="language-css">two-cols</code>'s.
            </p>

            <div class="layout-two-cols">
              <div class="one-col debug debug-bg-1">.one-col Column</div>
              <div class="one-col debug debug-bg-2">.one-col Column</div>
            </div>

            <div class="code-block">
              <pre>
                <code class="language-html">
                  &lt;div class="layout-two-cols"&gt;
                    &lt;div class="one-col"&gt;.one-col Column&lt;/div&gt;
                    &lt;div class="one-col"&gt;.one-col Column&lt;/div&gt;
                  &lt;/div&gt;
                </code>
              </pre>
            </div>

            <p>Or you can use a single <code
                class="language-html">two-cols</code>'s class.
            </p>

            <div class="layout-two-cols">
              <div class="two-cols debug debug-bg-1">.two-cols Column</div>
            </div>

            <div class="code-block">
              <pre>
                <code class="language-html">
                  &lt;div class="layout-two-cols"&gt;
                    &lt;div class="two-cols"&gt;.two-cols Column&lt;/div&gt;
                  &lt;/div&gt;
                </code>
              </pre>
            </div>

            <h3>3 Columns Layout</h3>
            <p>You can either use three single columns with three <code
                class="language-html">one-col</code>'s.
            </p>

            <div class="layout-three-cols">
              <div class="one-col debug debug-bg-1">.one-col Column</div>
              <div class="one-col debug debug-bg-2">.one-col Column</div>
              <div class="one-col debug debug-bg-3">.one-col Column</div>
            </div>

            <div class="code-block">
              <pre>
                <code class="language-html">
                  &lt;div class="layout-three-cols"&gt;
                    &lt;div class="one-col"&gt;.one-col Column&lt;/div&gt;
                    &lt;div class="one-col"&gt;.one-col Column&lt;/div&gt;
                    &lt;div class="one-col"&gt;.one-col Column&lt;/div&gt;
                  &lt;/div&gt;
                </code>
              </pre>
            </div>

            <p>Or you can use one two column <code
                class="language-html">two-cols</code> with a <code
                class="language-html">one-col</code>.
            </p>

            <div class="layout-three-cols">
              <div class="two-cols debug debug-bg-1">.two-cols Column</div>
              <div class="one-col debug debug-bg-2">.one-col Column</div>
            </div>
            <div class="layout-three-cols">
              <div class="one-col debug debug-bg-1">.one-col Column</div>
              <div class="two-cols debug debug-bg-2">.two-cols Column</div>
            </div>

            <div class="code-block">
              <pre>
                <code class="language-html">
                  &lt;div class="layout-three-cols"&gt;
                    &lt;div class="two-cols"&gt;.two-cols Column&lt;/div&gt;
                    &lt;div class="one-col"&gt;.one-col Column&lt;/div&gt;
                  &lt;/div&gt;
                  &lt;div class="layout-three-cols"&gt;
                    &lt;div class="one-col"&gt;.one-col Column&lt;/div&gt;
                    &lt;div class="two-cols"&gt;.two-cols Column&lt;/div&gt;
                  &lt;/div&gt;
                </code>
              </pre>
            </div>

            <p>Or you can use one three column <code
                class="language-html">three-cols</code>.
            </p>

            <div class="layout-three-cols">
              <div class="three-cols debug debug-bg-1">.three-cols Column</div>
            </div>

            <div class="code-block">
              <pre>
                <code class="language-html">
                  &lt;div class="layout-three-cols"&gt;
                    &lt;div class="three-cols"&gt;.three-cols Column&lt;/div&gt;
                  &lt;/div&gt;
                </code>
              </pre>
            </div>

            <h3>4 Columns Layout</h3>
            <p>You can either use four single columns with four <code
                class="language-html">one-col</code>'s.
            </p>

            <div class="layout-four-cols">
              <div class="one-col debug debug-bg-1">.one-col Column</div>
              <div class="one-col debug debug-bg-2">.one-col Column</div>
              <div class="one-col debug debug-bg-3">.one-col Column</div>
              <div class="one-col debug debug-bg-2">.one-col Column</div>
            </div>

            <div class="code-block">
              <pre>
                <code class="language-html">
                  &lt;div class="layout-three-cols"&gt;
                    &lt;div class="one-col"&gt;.one-col Column&lt;/div&gt;
                    &lt;div class="one-col"&gt;.one-col Column&lt;/div&gt;
                    &lt;div class="one-col"&gt;.one-col Column&lt;/div&gt;
                  &lt;/div&gt;
                </code>
              </pre>
            </div>

            <p>Or you can use a combination of one column <code
                class="language-html">one-col</code>'s'
              with two column <code class="language-html">two-cols</code>'s.
            </p>

            <div class="layout-four-cols">
              <div class="two-cols debug debug-bg-1">.two-cols Column</div>
              <div class="two-cols debug debug-bg-2">.two-cols Column</div>
            </div>
            <div class="layout-four-cols">
              <div class="two-cols debug debug-bg-1">.two-cols Column</div>
              <div class="one-col debug debug-bg-2">.one-col Column</div>
              <div class="one-col debug debug-bg-3">.one-col Column</div>
            </div>
            <div class="layout-four-cols">
              <div class="one-col debug debug-bg-1">.one-col Column</div>
              <div class="two-cols debug debug-bg-2">.two-cols Column</div>
              <div class="one-col debug debug-bg-3">.one-col Column</div>
            </div>
            <div class="layout-four-cols">
              <div class="one-col debug debug-bg-1">.one-col Column</div>
              <div class="one-col debug debug-bg-2">.one-col Column</div>
              <div class="two-cols debug debug-bg-3">.two-cols Column</div>
            </div>

            <div class="code-block">
              <pre>
                <code class="language-html">
                  &lt;div class="layout-four-cols"&gt;
                    &lt;div class="two-cols debug debug-bg-1"&gt;.two-cols Column&lt;/div&gt;
                    &lt;div class="two-cols debug debug-bg-2"&gt;.two-cols Column&lt;/div&gt;
                  &lt;/div&gt;
                  &lt;div class="layout-four-cols"&gt;
                    &lt;div class="two-cols debug debug-bg-1"&gt;.two-cols Column&lt;/div&gt;
                    &lt;div class="one-col debug debug-bg-2"&gt;.one-col Column&lt;/div&gt;
                    &lt;div class="one-col debug debug-bg-3"&gt;.one-col Column&lt;/div&gt;
                  &lt;/div&gt;
                  &lt;div class="layout-four-cols"&gt;
                    &lt;div class="one-col debug debug-bg-1"&gt;.one-col Column&lt;/div&gt;
                    &lt;div class="two-cols debug debug-bg-2"&gt;.two-cols Column&lt;/div&gt;
                    &lt;div class="one-col debug debug-bg-3"&gt;.one-col Column&lt;/div&gt;
                  &lt;/div&gt;
                  &lt;div class="layout-four-cols"&gt;
                    &lt;div class="one-col debug debug-bg-1"&gt;.one-col Column&lt;/div&gt;
                    &lt;div class="one-col debug debug-bg-2"&gt;.one-col Column&lt;/div&gt;
                    &lt;div class="two-cols debug debug-bg-3"&gt;.two-cols Column&lt;/div&gt;
                  &lt;/div&gt;
                </code>
              </pre>
            </div>

            <p>Or you can use a combination of one column <code
                class="language-html">one-col</code> and a three column <code
                class="language-html">three-cols</code>.
            </p>

            <div class="layout-four-cols">
              <div class="one-col debug debug-bg-1">.one-col Column</div>
              <div class="three-cols debug debug-bg-2">.three-cols Column</div>
            </div>
            <div class="layout-four-cols">
              <div class="three-cols debug debug-bg-1">.three-cols Column</div>
              <div class="one-col debug debug-bg-2">.one-col Column</div>
            </div>

            <div class="code-block">
              <pre>
                <code class="language-html">
                  &lt;div class="layout-four-cols"&gt;
                    &lt;div class="one-col debug debug-bg-1"&gt;.one-col Column&lt;/div&gt;
                    &lt;div class="three-cols debug debug-bg-2"&gt;.three-cols Column&lt;/div&gt;
                  &lt;/div&gt;
                  &lt;div class="layout-four-cols"&gt;
                    &lt;div class="three-cols debug debug-bg-1"&gt;.three-cols Column&lt;/div&gt;
                    &lt;div class="one-col debug debug-bg-2"&gt;.one-col Column&lt;/div&gt;
                  &lt;/div&gt;
                </code>
              </pre>
            </div>

            <p>Or you can use a single four column <code
                class="language-html">four-cols</code>.
            </p>

            <div class="layout-four-cols">
              <div class="four-cols debug debug-bg-1">.four-cols Column</div>
            </div>

            <div class="code-block">
              <pre>
                <code class="language-html">
                  &lt;div class="layout-four-cols"&gt;
                    &lt;div class="one-col debug debug-bg-1"&gt;.one-col Column&lt;/div&gt;
                    &lt;div class="three-cols debug debug-bg-2"&gt;.three-cols Column&lt;/div&gt;
                  &lt;/div&gt;
                  &lt;div class="layout-four-cols"&gt;
                    &lt;div class="three-cols debug debug-bg-1"&gt;.three-cols Column&lt;/div&gt;
                    &lt;div class="one-col debug debug-bg-2"&gt;.one-col Column&lt;/div&gt;
                  &lt;/div&gt;
                </code>
              </pre>
            </div>

            <h3>5 Columns Layout</h3>
            <p>You can either use five single columns with five <code
                class="language-html">one-col</code>'s.
            </p>

            <div class="layout-five-cols">
              <div class="one-col debug debug-bg-1">.one-col Column</div>
              <div class="one-col debug debug-bg-2">.one-col Column</div>
              <div class="one-col debug debug-bg-3">.one-col Column</div>
              <div class="one-col debug debug-bg-2">.one-col Column</div>
              <div class="one-col debug debug-bg-1">.one-col Column</div>
            </div>

            <div class="code-block">
              <pre>
                <code class="language-html">
                  &lt;div class="layout-five-cols"&gt;
                    &lt;div class="one-col"&gt;.one-col Column&lt;/div&gt;
                    &lt;div class="one-col"&gt;.one-col Column&lt;/div&gt;
                    &lt;div class="one-col"&gt;.one-col Column&lt;/div&gt;
                    &lt;div class="one-col"&gt;.one-col Column&lt;/div&gt;
                    &lt;div class="one-col"&gt;.one-col Column&lt;/div&gt;
                  &lt;/div&gt;
                </code>
              </pre>
            </div>

            <p>Or you can use a combination of one column <code
                class="language-html">one-col</code>'s'
              with two column <code class="language-html">two-cols</code>'s.
            </p>

            <div class="layout-five-cols">
              <div class="one-col debug debug-bg-1">.one-cols Column</div>
              <div class="two-cols debug debug-bg-2">.two-cols Column</div>
              <div class="two-cols debug debug-bg-2">.two-cols Column</div>
            </div>
            <div class="layout-five-cols">
              <div class="two-cols debug debug-bg-2">.two-cols Column</div>
              <div class="one-col debug debug-bg-1">.one-cols Column</div>
              <div class="two-cols debug debug-bg-2">.two-cols Column</div>
            </div>
            <div class="layout-five-cols">
              <div class="two-cols debug debug-bg-2">.two-cols Column</div>
              <div class="two-cols debug debug-bg-2">.two-cols Column</div>
              <div class="one-col debug debug-bg-1">.one-cols Column</div>
            </div>

            <div class="code-block">
              <pre>
                <code class="language-html">
                  &lt;div class="layout-five-cols"&gt;
                    &lt;div class="one-col debug debug-bg-1"&gt;.one-cols Column&lt;/div&gt;
                    &lt;div class="two-cols debug debug-bg-2"&gt;.two-cols Column&lt;/div&gt;
                    &lt;div class="two-cols debug debug-bg-3"&gt;.two-cols Column&lt;/div&gt;
                  &lt;/div&gt;
                  &lt;div class="layout-five-cols"&gt;
                    &lt;div class="two-cols debug debug-bg-1"&gt;.two-cols Column&lt;/div&gt;
                    &lt;div class="one-col debug debug-bg-2"&gt;.one-cols Column&lt;/div&gt;
                    &lt;div class="two-cols debug debug-bg-3"&gt;.two-cols Column&lt;/div&gt;
                  &lt;/div&gt;
                  &lt;div class="layout-five-cols"&gt;
                    &lt;div class="two-cols debug debug-bg-1"&gt;.two-cols Column&lt;/div&gt;
                    &lt;div class="two-cols debug debug-bg-2"&gt;.two-cols Column&lt;/div&gt;
                    &lt;div class="one-col debug debug-bg-3"&gt;.one-cols Column&lt;/div&gt;
                  &lt;/div&gt;
                </code>
              </pre>
            </div>

            <p>Or you can use a combination of one column <code
                class="language-html">one-col</code>'s'
              with two column <code class="language-html">two-cols</code>'s.
            </p>

            <div class="layout-five-cols">
              <div class="one-col debug debug-bg-1">.one-cols Column</div>
              <div class="one-col debug debug-bg-1">.one-cols Column</div>
              <div class="one-col debug debug-bg-1">.one-cols Column</div>
              <div class="two-cols debug debug-bg-2">.two-cols Column</div>
            </div>
            <div class="layout-five-cols">
              <div class="one-col debug debug-bg-1">.one-cols Column</div>
              <div class="one-col debug debug-bg-1">.one-cols Column</div>
              <div class="two-cols debug debug-bg-2">.two-cols Column</div>
              <div class="one-col debug debug-bg-1">.one-cols Column</div>
            </div>
            <div class="layout-five-cols">
              <div class="one-col debug debug-bg-1">.one-cols Column</div>
              <div class="two-cols debug debug-bg-2">.two-cols Column</div>
              <div class="one-col debug debug-bg-1">.one-cols Column</div>
              <div class="one-col debug debug-bg-1">.one-cols Column</div>
            </div>
            <div class="layout-five-cols">
              <div class="two-cols debug debug-bg-2">.two-cols Column</div>
              <div class="one-col debug debug-bg-1">.one-cols Column</div>
              <div class="one-col debug debug-bg-1">.one-cols Column</div>
              <div class="one-col debug debug-bg-1">.one-cols Column</div>
            </div>

            <div class="code-block">
              <pre>
                <code class="language-html">
                  &lt;div class="layout-five-cols"&gt;
                    &lt;div class="one-col debug debug-bg-1"&gt;.one-cols Column&lt;/div&gt;
                    &lt;div class="one-col debug debug-bg-1"&gt;.one-cols Column&lt;/div&gt;
                    &lt;div class="one-col debug debug-bg-1"&gt;.one-cols Column&lt;/div&gt;
                    &lt;div class="two-cols debug debug-bg-2"&gt;.two-cols Column&lt;/div&gt;
                  &lt;/div&gt;
                  &lt;div class="layout-five-cols"&gt;
                    &lt;div class="one-col debug debug-bg-1"&gt;.one-cols Column&lt;/div&gt;
                    &lt;div class="one-col debug debug-bg-1"&gt;.one-cols Column&lt;/div&gt;
                    &lt;div class="two-cols debug debug-bg-2"&gt;.two-cols Column&lt;/div&gt;
                    &lt;div class="one-col debug debug-bg-1"&gt;.one-cols Column&lt;/div&gt;
                  &lt;/div&gt;
                  &lt;div class="layout-five-cols"&gt;
                    &lt;div class="one-col debug debug-bg-1"&gt;.one-cols Column&lt;/div&gt;
                    &lt;div class="two-cols debug debug-bg-2"&gt;.two-cols Column&lt;/div&gt;
                    &lt;div class="one-col debug debug-bg-1"&gt;.one-cols Column&lt;/div&gt;
                    &lt;div class="one-col debug debug-bg-1"&gt;.one-cols Column&lt;/div&gt;
                  &lt;/div&gt;
                  &lt;div class="layout-five-cols"&gt;
                    &lt;div class="two-cols debug debug-bg-2"&gt;.two-cols Column&lt;/div&gt;
                    &lt;div class="one-col debug debug-bg-1"&gt;.one-cols Column&lt;/div&gt;
                    &lt;div class="one-col debug debug-bg-1"&gt;.one-cols Column&lt;/div&gt;
                    &lt;div class="one-col debug debug-bg-1"&gt;.one-cols Column&lt;/div&gt;
                  &lt;/div&gt;
                </code>
              </pre>
            </div>

            <p>Or you can use a combination of one column <code
                class="language-html">one-col</code>, two column <code
                class="language-html">two-cols</code> and a three column <code
                class="language-html">three-cols</code>.
            </p>

            <div class="layout-five-cols">
              <div class="two-cols debug debug-bg-2">.two-cols Column</div>
              <div class="three-cols debug debug-bg-3">.three-cols Column</div>
            </div>
            <div class="layout-five-cols">
              <div class="one-col debug debug-bg-1">.one-col Column</div>
              <div class="one-col debug debug-bg-1">.one-col Column</div>
              <div class="three-cols debug debug-bg-3">.three-cols Column</div>
            </div>
            <div class="layout-five-cols">
              <div class="one-col debug debug-bg-1">.one-col Column</div>
              <div class="three-cols debug debug-bg-3">.three-cols Column</div>
              <div class="one-col debug debug-bg-1">.one-col Column</div>
            </div>
            <div class="layout-five-cols">
              <div class="three-cols debug debug-bg-3">.three-cols Column</div>
              <div class="one-col debug debug-bg-1">.one-col Column</div>
              <div class="one-col debug debug-bg-1">.one-col Column</div>
            </div>
            <div class="layout-five-cols">
              <div class="three-cols debug debug-bg-3">.three-cols Column</div>
              <div class="two-cols debug debug-bg-2">.two-cols Column</div>
            </div>

            <div class="code-block">
              <pre>
                <code class="language-html">
                  &lt;div class="layout-five-cols"&gt;
                    &lt;div class="two-cols debug debug-bg-2"&gt;.two-cols Column&lt;/div&gt;
                    &lt;div class="three-cols debug debug-bg-3"&gt;.three-cols Column&lt;/div&gt;
                  &lt;/div&gt;
                  &lt;div class="layout-five-cols"&gt;
                    &lt;div class="one-col debug debug-bg-1"&gt;.one-col Column&lt;/div&gt;
                    &lt;div class="one-col debug debug-bg-1"&gt;.one-col Column&lt;/div&gt;
                    &lt;div class="three-cols debug debug-bg-3"&gt;.three-cols Column&lt;/div&gt;
                  &lt;/div&gt;
                  &lt;div class="layout-five-cols"&gt;
                    &lt;div class="one-col debug debug-bg-1"&gt;.one-col Column&lt;/div&gt;
                    &lt;div class="three-cols debug debug-bg-3"&gt;.three-cols Column&lt;/div&gt;
                    &lt;div class="one-col debug debug-bg-1"&gt;.one-col Column&lt;/div&gt;
                  &lt;/div&gt;
                  &lt;div class="layout-five-cols"&gt;
                    &lt;div class="three-cols debug debug-bg-3"&gt;.three-cols Column&lt;/div&gt;
                    &lt;div class="one-col debug debug-bg-1"&gt;.one-col Column&lt;/div&gt;
                    &lt;div class="one-col debug debug-bg-1"&gt;.one-col Column&lt;/div&gt;
                  &lt;/div&gt;
                  &lt;div class="layout-five-cols"&gt;
                    &lt;div class="three-cols debug debug-bg-3"&gt;.three-cols Column&lt;/div&gt;
                    &lt;div class="two-cols debug debug-bg-2"&gt;.two-cols Column&lt;/div&gt;
                  &lt;/div&gt;
                </code>
              </pre>
            </div>

            <p>Or you can use a combination of one column <code
                class="language-html">one-col</code> and a four column <code
                class="language-html">four-cols</code>.
            </p>

            <div class="layout-five-cols">
              <div class="one-col debug debug-bg-1">.one-col Column</div>
              <div class="four-cols debug debug-bg-2">.four-cols Column</div>
            </div>
            <div class="layout-five-cols">
              <div class="four-cols debug debug-bg-2">.four-cols Column</div>
              <div class="one-col debug debug-bg-1">.one-col Column</div>
            </div>

            <div class="code-block">
              <pre>
                <code class="language-html">
                  &lt;div class="layout-five-cols"&gt;
                </code>
              </pre>
            </div>

            <p>Or you can use a single five column <code
                class="language-html">five-cols</code>.
            </p>

            <div class="layout-five-cols">
              <div class="five-cols debug debug-bg-1">.five-cols Column</div>
            </div>

            <div class="code-block">
              <pre>
                <code class="language-html">
                  &lt;div class="layout-five-cols"&gt;
                    &lt;div class="five-cols"&gt;.five-cols Column&lt;/div&gt;
                  &lt;/div&gt;
                </code>
              </pre>
            </div>

            <div class="prev-next-nav">
              <div class="group">
                <div class="direction"><a href="/usage.html">&lt;&lt;&lt;
                    Previous</a></div>
                <div class="title"><a href="/usage.html">Usage</a>
                </div>
              </div>
              <div class="group">
                <div class="direction"><a href="/components/avatar.html">Next
                    &gt;&gt;&gt;</a></div>
                <div class="title"><a href="/components/avatar.html">Avatar</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer">
      <h1>Footer</h1>
    </div>
  </div>
  <!-- syntax highlighting -->
  <script src="/scripts/prism.js"></script>
  <!-- connecting javascript files -->
  <script src="/scripts/script.js"></script>
</body>

</html>
