:root {
  /* status colors */
  --primary: #0d6efd;
  --secondary: #6c757d;
  --success: #198754;
  --danger: #dc3545;
  --warning: #ffc107;
  --info: #0dcaf0;
  --light: #f8f9fa;
  --dark: #212529;

  /* status color variations */
  --primary-bg: #c0d9ff;
  --primary-text: #003f9e;
  --secondary-bg: #b7bdc2;
  --secondary-text: #454749;
  --success-bg: #d1fde9;
  --success-text: #024d2a;
  --danger-bg: #f8d1d5;
  --danger-text: #770712;
  --warning-bg: #fbf0ce;
  --warning-text: #aa8106;
  --info-bg: #d1f2f8;
  --info-text: #047c94;

  /* button color variations */
  --primary-btn-bg: #023c94;
  --primary-btn-bg-hover: #0247ad;
  --primary-btn-bg-disabled: #7db1ff;
  --primary-btn-text: #fafafa;
  --secondary-btn-bg: #404244;
  --secondary-btn-bg-hover: #5f6163;
  --secondary-btn-bg-disabled: #bdbdbd;
  --secondary-btn-text: #fafafa;
  --success-btn-bg: #064428;
  --success-btn-bg-hover: #0a693e;
  --success-btn-bg-disabled: #61cf9e;
  --success-btn-text: #fafafa;
  --danger-btn-bg: #9c313c;
  --danger-btn-bg-hover: #b13844;
  --danger-btn-bg-disabled: #fb8d98;
  --danger-btn-text: #fafafa;
  --warning-btn-bg: #ffcd02;
  --warning-btn-bg-hover: #ffd738;
  --warning-btn-bg-disabled: #ffeca2;
  --warning-btn-text: #fafafa;
  --info-btn-bg: #00788d;
  --info-btn-bg-hover: #0099b4;
  --info-btn-bg-disabled: #baf5ff;
  --info-btn-text: #fafafa;

  /* button text variations */
  --btn-text-white: #fdfdfd;
  --btn-text-black: #212121;
  --btn-text-gray-light: #bdbdbd;
  --btn-text-gray-dark: #616161;

  /* used to debug by showing borders */
  --test-debug: #000000;
  --debug-shade-1: #d7e9ff;
  --debug-shade-2: #b1d3ff;
  --debug-shade-3: #86bbff;

  /* color pallettes */
  --test-red: #fff3f3;
  --red: #e44343;
  --red-100: #facbcb;
  --red-300: #e77777;
  --red-500: #e44343;
  --red-700: #a11e1e;
  --red-900: #751313;

  --test-green: #effff5;
  --green: #2fc769;
  --green-100: #c1f7d5;
  --green-300: #69e699;
  --green-500: #2fc769;
  --green-700: #128d41;
  --green-900: #045523;

  --test-blue: #f2f8ff;
  --blue: #2f71c7;
  --blue-100: #c4dcfa;
  --blue-300: #6399e0;
  --blue-500: #2f71c7;
  --blue-700: #164f99;
  --blue-900: #08336b;

  --yellow: #ffcd02;
  --yellow-100: #ffeea8;
  --yellow-300: #ffe167;
  --yellow-500: #ffcd02;
  --yellow-700: #cea504;
  --yellow-900: #a08002;

  --violet: #8b56f6;
  --violet-100: #d9c6ff;
  --violet-300: #b793ff;
  --violet-500: #8b56f6;
  --violet-700: #661bfc;
  --violet-900: #3600a1;

  --pink: #ec4899;
  --pink-100: #ffb5da;
  --pink-300: #ff8bc5;
  --pink-500: #ec4899;
  --pink-700: #c2176c;
  --pink-900: #850042;

  --white: #f3f3f3;
  --white-100: #ffffff;
  --white-300: #fafafa;
  --white-500: #f3f3f3;
  --white-700: #e9e9e9;
  --white-900: #eeeeee;

  --gray: #9a9a9a;
  --gray-100: #d4d4d4;
  --gray-300: #b4b4b4;
  --gray-500: #9a9a9a;
  --gray-700: #777777;
  --gray-900: #535353;

  --black: #101010;
  --black-100: #202020;
  --black-300: #191919;
  --black-500: #101010;
  --black-700: #060606;
  --black-900: #0a0a0a;

  /* other custom colors */
  --side-menu-bg: #08336b;

  /* fonts */
  --body-font: "Roboto Slab", serif;
  --heading-font: "Montserrat", sans-serif;

  /* transition timing */
  --transition-fast: all 100ms ease-in-out;
  --transition-medium: all 300ms ease-in-out;
  --transition-slow: all 500ms ease-in-out;

  /* shadows */
  --shadow-s: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  --shadow-m: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  --shadow-l: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
  --shadow-hover: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

body {
  background-color: inherit;
  font-family: var(--body-font);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font);
  padding: 0.5rem 0rem;
}

p {
  line-height: 1.55rem;
  padding: 0.25rem 0rem;
}

a {
  cursor: pointer;
  color: var(--blue-900);
  transition: var(--transition-medium);
  text-decoration: none;
}

a:visited {
  color: var(--blue-900);
  text-decoration: none;
}

a:hover {
  color: var(--blue-500);
}

/* - START PAGE LAYOUT - */

/* -- START STRUCTURAL LAYOUT -- */
.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.page-container .header {
  /* background-color: var(--test-red); */
  min-height: 5%;
  font-family: var(--heading-font);
  padding: 1rem;
  background-color: var(--blue-100);
}
.page-container .content {
  /* background-color: var(--test-green); */
  padding: 0.05%;
  flex-grow: 2;

  /* styles for rows and columns */
  display: flex;
  flex-direction: column;
}
.page-container .footer {
  /* background-color: var(--test-blue); */
  padding: 1rem;
  min-height: 5vh;
  font-family: var(--heading-font);

  background-color: var(--blue-300);
}
/* -- END STRUCTURAL LAYOUT -- */

/* -- START DEBUGGING STYLES -- */
.debug {
  border: 1px solid var(--test-debug);
}
.debug.debug-bg-1 {
  background-color: var(--debug-shade-1);
}
.debug.debug-bg-2 {
  background-color: var(--debug-shade-2);
}
.debug.debug-bg-3 {
  background-color: var(--debug-shade-3);
}
.debug-all {
  border: 1px solid var(--test-debug);
}
.debug-all * {
  border: 1px solid var(--test-debug);
}
/* -- END DEBUGGING STYLES -- */

/* -- START GRID LAYOUTS -- */

.grid {
  display: grid;
}

.grid-2 {
  grid-template-columns: 50% 50%;
}
.grid-3 {
  grid-template-columns: 33% 33% 33%;
}
.grid-4 {
  grid-template-columns: 25% 25% 25% 25%;
}
.grid-5 {
  grid-template-columns: 20% 20% 20% 20% 20%;
}
/* -- END GRID LAYOUTS -- */

/* -- START FRACTIONAL COLUMN LAYOUTS -- */

/* --- START ONE COLUMN FRACTIONAL --- */
.content .layout-one-col {
  display: flex;
  flex-direction: column;
  padding: 0rem;
  width: 100%;
}
.layout-one-col .one-col {
  padding: 0.2%;
}
/* --- END ONE COLUMN FRACTIONAL --- */

/* --- START TWO COLUMN FRACTIONAL --- */
.content .layout-two-cols {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: auto;
  padding: 0rem;
}
.layout-two-cols .one-col {
  padding: 0.2%;
  width: 49.125%;
}
.layout-two-cols .two-cols {
  padding: 0.25%;
  width: 99.5%;
}
/* --- END TWO COLUMN FRACTIONAL --- */

/* --- START THREE COLUMN FRACTIONAL --- */
.content .layout-three-cols {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  padding: 0rem;
}
.layout-three-cols .one-col {
  padding: 0.2%;
  width: 32.4%;
}
.layout-three-cols .two-cols {
  padding: 0.2%;
  width: 65.8%;
}
.layout-three-cols .three-cols {
  padding: 0.2%;
  width: 99.8%;
}
/* --- END THREE COLUMN FRACTIONAL --- */

/* --- START FOUR COLUMN FRACTIONAL --- */
.content .layout-four-cols {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  padding: 0rem;
}
.layout-four-cols .one-col {
  padding: 0.2%;
  width: 24.32%;
}
.layout-four-cols .two-cols {
  padding: 0.2%;
  width: 49.45%;
}
.layout-four-cols .two-cols + .two-cols {
  padding: 0.2%;
  width: 49.27%;
}
.layout-four-cols .three-cols {
  padding: 0.2%;
  width: 74.4%;
}
.layout-four-cols .four-cols {
  padding: 0.2%;
  width: 99.8%;
}
/* --- END FOUR COLUMN FRACTIONAL --- */

/* --- START FIVE COLUMN FRACTIONAL --- */
.content .layout-five-cols {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  padding: 0rem;
}
.layout-five-cols .one-col {
  padding: 0.2%;
  width: 19.35%;
}
.layout-five-cols .two-cols {
  padding: 0.2%;
  width: 39.35%;
}
.layout-five-cols .three-cols {
  padding: 0.2%;
  width: 59.3%;
}
.layout-five-cols .four-cols {
  padding: 0.2%;
  width: 79.35%;
}
.layout-five-cols .five-cols {
  padding: 0.2%;
  width: 99.6%;
}
/* --- END FIVE COLUMN FRACTIONAL --- */

/* -- END FRACTIONAL COLUMN LAYOUTS -- */

/* -- START 12 COLUMN LAYOUTS -- */
.content .row {
  display: flex;
  flex-direction: row;
  padding: 0rem 0rem;
}

/* --- START 12 COLUMNS --- */
.row.row-full {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  gap: 0rem 0rem;
  grid-template-areas: "col-12";
}

.row-full .col-12 {
  grid-area: col-12;
  padding: 1rem;
  /* background-color: var(--test-red); */
}

.row.row-full-centered {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: auto;
}

.row-full-centered .col-12 {
  /* background-color: var(--test-red); */
  align-self: center;
  margin-top: auto;
  margin-bottom: auto;
}
/* --- END 12 COLUMNS --- */

/* --- START 6-6 COLUMNS --- */
.row .col-6-6 {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0rem 0rem;
  grid-template-areas: "col-6-1 col-6-2";
}

.col-6-6 .col-6-1 {
  padding: 1rem;
  grid-area: col-6-1;
  /* background-color: var(--test-red); */
}
.col-6-6 .col-6-2 {
  padding: 1rem;
  grid-area: col-6-2;
  /* background-color: var(--test-blue); */
}
/* --- END 6-6 COLUMNS --- */

/* --- START 4-8 COLUMNS --- */
.row .col-4-8 {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr;
  gap: 0rem 0rem;
  grid-template-areas: "col-4 col-8";
}

.col-4-8 .col-4 {
  padding: 1rem;
  grid-area: col-4;
  /* background-color: var(--test-red); */
}
.col-4-8 .col-8 {
  padding: 1rem;
  grid-area: col-8;
  /* background-color: var(--test-blue); */
}
/* --- END 4-8 COLUMNS --- */

/* --- START 8-4 COLUMNS --- */
.row .col-8-4 {
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr;
  gap: 0rem 0rem;
  grid-template-areas: "col-8 col-4";
}

.col-8-4 .col-4 {
  padding: 1rem;
  grid-area: col-4;
  /* background-color: var(--test-blue); */
}
.col-8-4 .col-8 {
  padding: 1rem;
  grid-area: col-8;
  /* background-color: var(--test-red); */
}
/* --- END 4-8 COLUMNS --- */

/* --- START 3-9 COLUMNS --- */
.row .col-3-9 {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr;
  gap: 0rem 0rem;
  grid-template-areas: "col-3 col-9";
}

.col-3-9 .col-3 {
  padding: 1rem;
  grid-area: col-3;
  /* background-color: var(--test-red); */
}
.col-3-9 .col-9 {
  padding: 1rem;
  grid-area: col-9;
  /* background-color: var(--test-blue); */
}

/* background for side menu */
.col-3-9 .col-3.menu-col {
  background-color: var(--side-menu-bg);
}
/* --- END 3-9 COLUMNS --- */

/* --- START 9-3 COLUMNS --- */
.row .col-9-3 {
  width: 100%;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr;
  gap: 0rem 0rem;
  grid-template-areas: "col-9 col-3";
}

.col-9-3 .col-3 {
  padding: 1rem;
  grid-area: col-3;
  /* background-color: var(--test-blue); */
}
.col-9-3 .col-9 {
  padding: 1rem;
  grid-area: col-9;
  /* background-color: var(--test-red); */
}
/* --- END 3-9 COLUMNS --- */

/* --- START 2-8-2 COLUMNS --- */
.row .col-2-8-2 {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-rows: 1fr;
  gap: 0rem 0rem;
  grid-template-areas: "col-2-1 col-8 col-2-2";
}

.col-2-8-2 .col-2-1 {
  padding: 1rem;
  grid-area: col-2-1;
  /* background-color: var(--test-red); */
}

.col-2-8-2 .col-8 {
  padding: 1rem;
  grid-area: col-8;
  /* background-color: var(--test-blue); */
}

.col-2-8-2 .col-2-2 {
  padding: 1rem;
  grid-area: col-2-2;
  /* background-color: var(--test-red); */
}
/* --- END 2-8-2 COLUMNS --- */

/* --- START 4-4-4 COLUMNS --- */
.row .col-4-4-4 {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0rem 0rem;
  grid-template-areas: "col-4-1 col-4-2 col-4-3";
}

.col-4-4-4 .col-4-1 {
  padding: 1rem;
  grid-area: col-4-1;
  /* background-color: var(--test-red); */
}

.col-4-4-4 .col-4-2 {
  padding: 1rem;
  grid-area: col-4-2;
  /* background-color: var(--test-blue); */
}

.col-4-4-4 .col-4-3 {
  padding: 1rem;
  grid-area: col-4-3;
  /* background-color: var(--test-red); */
}
/* --- END 4-4-4 COLUMNS --- */

/* --- START 3-6-3 COLUMNS --- */
.row .col-3-6-3 {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr;
  gap: 0rem 0rem;
  grid-template-areas: "col-3-1 col-6 col-3-2";
}

.col-3-6-3 .col-3-1 {
  padding: 1rem;
  grid-area: col-3-1;
  /* background-color: var(--test-red); */
}

.col-3-6-3 .col-6 {
  padding: 1rem;
  grid-area: col-6;
  /* background-color: var(--test-blue); */
}

.col-3-6-3 .col-3-2 {
  padding: 1rem;
  grid-area: col-3-2;
  /* background-color: var(--test-red); */
}
/* --- END 3-6-3 COLUMNS --- */

/* -- END 12 COLUMN LAYOUTS -- */

/* -- START PREV-NEXT NAV -- */

.prev-next-nav {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
}
.prev-next-nav .group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
}
.prev-next-nav .direction {
  font-size: 2rem;
  font-weight: 700;
}
.prev-next-nav .title {
  font-size: 1.5rem;
  font-weight: 300;
}

/* -- END PREV-NEXT NAV -- */

/* - END PAGE LAYOUT - */

/* - START UTILITY CLASSES - */

/* -- START SYNTAX HIGHLIGHTING UTILITY CLASSES -- */
.code-block {
  width: 90%;
  padding: 0.5rem;
  margin-right: auto;
  margin-left: auto;
}
/* -- END SYNTAX HIGHLIGHTING UTILITY CLASSES -- */

/* -- START ALIGNMENT/JUSTIFICATION UTILITY CLASSES -- */
.full-height {
  display: flex;
  flex-direction: column;
  align-items: center; /* Vertical */
  justify-content: center; /* Horizontal */
}

.col-12-hcenter {
  margin-left: auto;
  margin-right: auto;
}
.col-12-vcenter {
  margin-top: auto;
  margin-bottom: auto;
}

.text-center {
  text-align: center;
}

.img-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.fl {
  display: flex;
}
.fl-center {
  justify-content: center;
  align-content: center;
}

.fl-col {
  display: flex;
  flex-direction: column;
}

.fl-row {
  display: flex;
  flex-direction: row;
}

.fljc-center {
  justify-content: center;
}

.fljc-sp-around {
  justify-content: space-around;
}

.fljc-sp-between {
  justify-content: space-between;
}

.fljc-sp-evenly {
  justify-content: space-evenly;
}

.fljc-fl-start {
  justify-content: flex-start;
}

.fljc-fl-end {
  justify-content: flex-end;
}

.flac-center {
  align-content: center;
}

.flac-sp-around {
  align-content: space-around;
}

.flac-sp-between {
  align-content: space-between;
}

.flac-fl-start {
  align-content: flex-start;
}

.flac-fl-end {
  align-content: flex-end;
}

.flas-auto {
  align-self: auto;
}

.flas-fl-start {
  align-self: flex-start;
}

.flas-fl-end {
  align-self: flex-end;
}

.flas-center {
  align-self: center;
}

.flas-baseline {
  align-self: baseline;
}

.flas-stretch {
  align-self: stretch;
}
/* -- END ALIGNMENT/JUSTIFICATION UTILITY CLASSES -- */

/* -- START WIDTH CLASSES -- */
.w-100 {
  width: 100%;
}
.w-75 {
  width: 75%;
}
.w-50 {
  width: 50%;
}
.w-30 {
  width: 30%;
}
.w-25 {
  width: 25%;
}
.w-20 {
  width: 20%;
}
.w-10 {
  width: 10%;
}
.w-5 {
  width: 100%;
}
.w-4 {
  width: 80%;
}
.w-3 {
  width: 60%;
}
.w-2 {
  width: 40%;
}
.w-1 {
  width: 20%;
}
/* -- END WIDTH CLASSES -- */

/* -- START MARGIN CLASSES -- */
.m-auto {
  margin: auto;
}
.mx-auto {
  margin-right: auto;
  margin-left: auto;
}
.my-auto {
  margin-top: auto;
  margin-bottom: auto;
}

/* --- START ALL-SIDE MARGIN CLASSES --- */
.m-010 {
  margin: 0.1rem;
}
.m-020 {
  margin: 0.2rem;
}
.m-025 {
  margin: 0.25rem;
}
.m-050 {
  margin: 0.5rem;
}
.m-075 {
  margin: 0.75rem;
}
.m-100 {
  margin: 1rem;
}
.m-125 {
  margin: 1.25rem;
}
.m-150 {
  margin: 1.5rem;
}
.m-200 {
  margin: 2rem;
}
/* --- END ALL-SIDE MARGIN CLASSES --- */

/* --- START TOP-BOTTOM MARGIN CLASSES --- */
.mtb-010 {
  margin-top: 0.1rem;
  margin-bottom: 0.1rem;
}
.mtb-020 {
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
}
.mtb-025 {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}
.mtb-050 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.mtb-075 {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}
.mtb-100 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.mtb-125 {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}
.mtb-150 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
.mtb-200 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
/* --- END TOP-BOTTOM MARGIN CLASSES --- */

/* --- START LEFT-RIGHT MARGIN CLASSES --- */
.mlr-010 {
  margin-left: 0.1rem;
  margin-right: 0.1rem;
}
.mlr-020 {
  margin-left: 0.2rem;
  margin-right: 0.2rem;
}
.mlr-025 {
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}
.mlr-050 {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
.mlr-075 {
  margin-left: 0.75rem;
  margin-right: 0.75rem;
}
.mlr-100 {
  margin-left: 1rem;
  margin-right: 1rem;
}
.mlr-125 {
  margin-left: 1.25rem;
  margin-right: 1.25rem;
}
.mlr-150 {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}
.mlr-200 {
  margin-left: 2rem;
  margin-right: 2rem;
}
/* --- END LEFT-RIGHT MARGIN CLASSES --- */

/* -- END MARGIN CLASSES -- */

/* -- START PADDING CLASSES -- */

/* --- START ALL-SIDE PADDING CLASSES --- */
.p-010 {
  padding: 0.1rem;
}
.p-020 {
  padding: 0.2rem;
}
.p-025 {
  padding: 0.25rem;
}
.p-050 {
  padding: 0.5rem;
}
.p-075 {
  padding: 0.75rem;
}
.p-100 {
  padding: 1rem;
}
.p-125 {
  padding: 1.25rem;
}
.p-150 {
  padding: 1.5rem;
}
.p-200 {
  padding: 2rem;
}
.p-300 {
  padding: 3rem;
}
.p-400 {
  padding: 4rem;
}
.p-500 {
  padding: 5rem;
}
/* --- END ALL-SIDE PADDING CLASSES --- */

/* --- START TOP-BOTTOM PADDING CLASSES --- */
.ptb-010 {
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
}
.ptb-020 {
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
}
.ptb-025 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}
.ptb-050 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.ptb-075 {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}
.ptb-100 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.ptb-125 {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}
.ptb-150 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}
.ptb-200 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.ptb-300 {
  padding-top: 2rem;
  padding-bottom: 3rem;
}
.ptb-400 {
  padding-top: 4rem;
  padding-bottom: 4rem;
}
.ptb-500 {
  padding-top: 5rem;
  padding-bottom: 5rem;
}
/* --- END TOP-BOTTOM PADDING CLASSES --- */

/* --- START LEFT-RIGHT PADDING CLASSES --- */
.plr-010 {
  padding-left: 0.1rem;
  padding-right: 0.1rem;
}
.plr-020 {
  padding-left: 0.2rem;
  padding-right: 0.2rem;
}
.plr-025 {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}
.plr-050 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.plr-075 {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}
.plr-100 {
  padding-left: 1rem;
  padding-right: 1rem;
}
.plr-125 {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}
.plr-150 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.plr-200 {
  padding-left: 2rem;
  padding-right: 2rem;
}
.plr-300 {
  padding-left: 3rem;
  padding-right: 3rem;
}
.plr-400 {
  padding-left: 4rem;
  padding-right: 4rem;
}
.plr-500 {
  padding-left: 5rem;
  padding-right: 5rem;
}
/* --- END LEFT-RIGHT PADDING CLASSES --- */

/* -- END PADDING CLASSES -- */

/* - END UTILITY CLASSES - */

/* - START HEADER CSS - */
.page-container .header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header .site-logo {
  font: inherit;
  max-height: 50px;

  display: flex;
  flex-direction: row;
}

.site-logo .logo-img {
  height: 100%;
}

.header .header-title {
  font-size: 2.5rem;
  font-weight: 900;
}

.header .main-menu {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.main-menu .main-menu-item {
  padding: 0rem 0.5rem;
  padding-bottom: 0.25rem;
  transition: var(--transition-medium);
}

.main-menu .main-menu-item:hover {
  color: var(--blue-700);
}

.main-menu-item.active {
  /* border-bottom: 5px solid var(--blue-900); */
  text-decoration: underline;
}

/* - END HEADER CSS - */

/* - START SIDE-MENU CSS - */
.content .side-menu {
  font-family: var(--heading-font);
}

.side-menu .heading {
  font: inherit;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.6rem;
  color: var(--white-100);
}

.side-menu .sub-heading {
  font: inherit;
  font-size: 0.8rem;
  font-weight: 500;
  line-height: 1.2rem;
}

.side-menu .item {
  font: inherit;
  padding: 0.25rem 0.5rem;
  font-weight: 500;
  line-height: 1.4rem;
  color: var(--white-100);
}

.side-menu .item:hover {
  transition: var(--transition-slow);
  color: var(--yellow);
  background-color: var(--black-700);
}

.side-menu .item.active {
  text-decoration: underline;
  color: var(--yellow-300);
  background-color: var(--black-100);
}

.side-menu .item.active:hover {
  text-decoration: underline;
  color: var(--yellow-500);
  background-color: var(--black-700);
}
/* - END SIDE-MENU CSS - */

/* - START AVATAR COMPONENT - */
.avatar {
  /* display: block; */
  padding: 0.25rem;
  align-self: center;
  display: inline-block;
  position: relative;
}

.avatar img {
  width: 100%;
  border-radius: 100%;
}

/* -- START AVATAR SIZES -- */
.avatar-xs {
  width: 2rem;
}
.avatar-s {
  width: 2.75rem;
}
.avatar-m {
  width: 3.25rem;
}
.avatar-l {
  width: 3.75rem;
}
.avatar-xl {
  width: 4.25rem;
}
/* -- END AVATAR SIZES -- */

/* -- START AVATAR STATUS -- */

.avatar .avatar-status {
  position: absolute;
  bottom: 10%;
  right: 10%;
  border-radius: 100%;
}

/* -- START AVATAR STATUS SIZES -- */

.avatar.avatar-xl .avatar-status {
  width: 1.2rem;
  height: 1.2rem;
  border-width: 3px;
  border-style: solid;
}

.avatar.avatar-l .avatar-status {
  width: 1.1rem;
  height: 1.1rem;
  border-width: 2.5px;
  border-style: solid;
}

.avatar.avatar-m .avatar-status {
  width: 0.9rem;
  height: 0.9rem;
  border-width: 2px;
  border-style: solid;
}

.avatar.avatar-s .avatar-status {
  width: 0.7rem;
  height: 0.7rem;
  border-width: 1.5px;
  border-style: solid;
}

.avatar.avatar-xs .avatar-status {
  width: 0.5rem;
  height: 0.5rem;
  border-width: 1px;
  border-style: solid;
}

/* -- END AVATAR STATUS SIZES -- */

/* -- START AVATAR STATUS COLORS -- */

.avatar-status.status-primary {
  background: var(--primary);
  border-color: var(--white);
}

.avatar-status.status-secondary {
  background: var(--secondary);
  border-color: var(--white);
}

.avatar-status.status-success {
  background: var(--success);
  border-color: var(--white);
}

.avatar-status.status-danger {
  background: var(--danger);
  border-color: var(--white);
}

.avatar-status.status-warning {
  background: var(--warning);
  border-color: var(--white);
}

.avatar-status.status-info {
  background: var(--info);
  border-color: var(--white);
}

.avatar-status.status-light {
  background: var(--light);
  border-color: var(--white);
}

.avatar-status.status-dark {
  background: var(--dark);
  border-color: var(--white);
}
/* -- START AVATAR STATUS COLORS -- */

/* -- END AVATAR STATUS -- */

/* -- START AVATAR GROUP --  */

.avatar-group {
  display: flex;
}
.avatar-group.horizontal {
  flex-direction: row;
}
.avatar-group.vertical {
  flex-direction: column;
}

/* -- END AVATAR GROUP -- */

/* - END AVATAR COMPONENT - */

/* - START ALERTS CSS - */

.alert {
  display: block;
  padding: 0.5rem;
  margin: 0.5rem 0rem;
  border-radius: 0.25rem;

  background-color: var(--gray-100);
  color: var(--black-900);
}

.alert.alert-primary {
  background-color: var(--primary-bg);
  color: var(--primary-text);
}
.alert.alert-primary a {
  color: var(--primary-text);
}

.alert.alert-primary {
  background-color: var(--primary-bg);
  color: var(--primary-text);
}
.alert.alert-primary a {
  color: var(--primary-text);
}

.alert.alert-secondary {
  background-color: var(--secondary-bg);
  color: var(--secondary-text);
}
.alert.alert-secondary a {
  color: var(--secondary-text);
}

.alert.alert-success {
  background-color: var(--success-bg);
  color: var(--success-text);
}
.alert.alert-success a {
  color: var(--success-text);
}

.alert.alert-danger {
  background-color: var(--danger-bg);
  color: var(--danger-text);
}
.alert.alert-danger a {
  color: var(--danger-text);
}

.alert.alert-warning {
  background-color: var(--warning-bg);
  color: var(--warning-text);
}
.alert.alert-warning a {
  color: var(--warning-text);
}

.alert.alert-info {
  background-color: var(--info-bg);
  color: var(--info-text);
}
.alert.alert-info a {
  color: var(--info-text);
}

.alert > a {
  font-weight: 700;
  text-decoration: underline;
}

/* - END ALERTS CSS - */

/* - START BADGES CSS - */

.with-badge .badge {
  padding: 0.75em 0.5rem;
  margin-left: 0.5rem;
  font-size: 0.6em;
  border-radius: 10%;
  font-weight: 700;
  background-color: var(--gray-900);
  color: var(--white-100);
}

.badge.pill-badge {
  border-radius: 5rem;
}

/* -- START BADGE COLORS -- */

.badge.badge-primary {
  background: var(--primary);
  border-color: var(--white);
}

.badge.badge-secondary {
  background: var(--secondary);
  border-color: var(--white);
}

.badge.badge-success {
  background: var(--success);
  border-color: var(--white);
}

.badge.badge-danger {
  background: var(--danger);
  border-color: var(--white);
}

.badge.badge-warning {
  background: var(--warning);
  border-color: var(--white);
}

.badge.badge-info {
  background: var(--info);
  border-color: var(--white);
}

.badge.badge-light {
  background: var(--light);
  border-color: var(--white);
}

.badge.badge-dark {
  background: var(--dark);
  border-color: var(--white);
}

/* -- END BADGE COLORS -- */

/* -- START HEADING BADGES -- */

h1.with-badge,
h2.with-badge,
h3.with-badge,
h4.with-badge,
h5.with-badge,
h6.with-badge,
p.with-badge {
  display: flex;
  /* justify-content: flex-start; */
  /* vertical-align: middle; */
  /* padding: 0.5rem 0rem; */
}
h1.with-badge .badge {
  padding: 0.5rem 0.5rem;
}
h2.with-badge .badge {
  padding: 0.45rem 0.5rem;
}

h3.with-badge .badge {
  padding: 0.4rem 0.45rem;
}
h4.with-badge .badge {
  padding: 0.35rem 0.45rem;
}

h5.with-badge .badge {
  padding: 0.3rem 0.4rem;
}
h6.with-badge .badge {
  padding: 0.25rem 0.35rem;
}
p.with-badge .badge {
  padding: 0.25rem 0.35rem;
}
/* -- END HEADING BADGES -- */

/* -- START BADGE POSITIONS -- */

.with-badge.positional {
  display: inline-flex;
  position: relative;
}

.with-badge.positional.top {
  margin-top: 0.75em;
  margin-bottom: 0.75em;
}
.with-badge.positional.bottom {
  margin-top: 0.75em;
  margin-bottom: 0.75em;
}

.with-badge.positional .badge {
  margin: 0px;
  position: absolute;
  border-radius: 5px;
  min-width: 1.5em;
  background-color: red;
}

.positional.top .badge {
  top: -0.5em;
}
.positional.bottom .badge {
  bottom: -0.5em;
}

.badge.right {
  right: -0.75rem;
  padding: 0.25em 0.75em;
}

/* -- END BUTTON BADGES --  */

/* - END BADGES CSS - */

/* - START BUTTONS CSS - */

.btn {
  display: inline-flex;
  padding: 0.5rem 0rem;
  margin: 0.25rem;
  border: none;
  border-radius: 0.25rem;
  font-family: var(--heading-font);
  font-size: 1rem;
  text-align: center;
  text-decoration: none;
  background-color: var(--blue-500);
  color: var(--white-100);
  transition: var(--transition-fast);
  box-shadow: var(--shadow-s);
}
.btn:hover {
  box-shadow: var(--shadow-m);
}
.btn.disabled,
.btn:disabled {
  box-shadow: none;
  background-color: var(--blue-100);
  color: var(--gray-500);
}

.btn-outline {
  display: inline-flex;

  padding: 0.5rem 0rem;
  margin: 0.25rem;

  border: 2px solid var(--blue-500);
  border-radius: 0.25rem;

  font-family: var(--heading-font);
  font-size: 1rem;

  text-align: center;
  text-decoration: none;

  background-color: var(--white-100);
  color: var(--blue-500);

  transition: var(--transition-fast);

  box-shadow: var(--shadow-s);
}
.btn-outline:hover {
  box-shadow: var(--shadow-m);
}

.btn a {
  display: inline-block;
  position: relative;
  z-index: 1;
  /* padding: 0.5rem 0rem; */
  margin: 0em;
}
.btn-outline a {
  display: inline-block;
  position: relative;
  z-index: 1;
  /* padding: 0.5rem 0rem; */
  margin: 0em;
}

.btn-text {
  align-self: center;
}

/* -- START BUTTON BORDER RADIUS CLASSES -- */
.btn.rounded-xs,
.btn-outline.rounded-xs {
  border-radius: 0.25rem;
}
.btn.rounded-s,
.btn-outline.rounded-s {
  border-radius: 0.5rem;
}
.btn.rounded-m,
.btn-outline.rounded-m {
  border-radius: 0.75rem;
}
.btn.rounded-l,
.btn-outline.rounded-l {
  border-radius: 1.25rem;
}
.btn.rounded-xl,
.btn-outline.rounded-xl {
  border-radius: 2rem;
}
/* -- END BUTTON BORDER RADIUS CLASSES -- */

/* -- START BUTTON SIZE CLASSES -- */
.btn.btn-xs,
.btn-outline.btn-xs {
  padding: 0.5em 0.6rem;
  font-size: 0.7em;
}
.btn.btn-s,
.btn-outline.btn-s {
  padding: 0.5em 0.7rem;
  font-size: 0.8em;
}
.btn.btn-m,
.btn-outline.btn-m {
  padding: 0.5em 0.75rem;
  font-size: 0.9rem;
}
.btn.btn-l,
.btn-outline.btn-l {
  padding: 0.5em 0.8rem;
  font-size: 1.1em;
}
.btn.btn-xl,
.btn-outline.btn-xl {
  padding: 0.5em 0.85rem;
  font-size: 1.3em;
}
/* -- END BUTTON SIZE CLASSES -- */

/* -- START BUTTON COLOR CLASSES -- */

.btn.btn-primary {
  background-color: var(--primary-btn-bg);
  color: var(--primary-btn-text);
}
.btn.btn-primary:hover {
  background-color: var(--primary-btn-bg-hover);
}
.btn.btn-primary.disabled,
.btn.btn-primary:disabled {
  background-color: var(--primary-btn-bg-disabled);
}
.btn.btn-primary.disabled:hover,
.btn.btn-primary:disabled:hover {
  cursor: not-allowed;
  background-color: var(--primary-btn-bg-disabled);
}

.btn.btn-secondary {
  background-color: var(--secondary-btn-bg);
  color: var(--secondary-btn-text);
}
.btn.btn-secondary:hover {
  background-color: var(--secondary-btn-bg-hover);
}
.btn.btn-secondary.disabled,
.btn.btn-secondary:disabled {
  background-color: var(--secondary-btn-bg-disabled);
}
.btn.btn-secondary.disabled:hover,
.btn.btn-secondary:disabled:hover {
  cursor: not-allowed;
  background-color: var(--secondary-btn-bg-disabled);
}

.btn.btn-success {
  background-color: var(--success-btn-bg);
  color: var(--success-btn-text);
}
.btn.btn-success:hover {
  background-color: var(--success-btn-bg-hover);
}
.btn.btn-success.disabled,
.btn.btn-success:disabled {
  background-color: var(--success-btn-bg-disabled);
}
.btn.btn-success.disabled:hover,
.btn.btn-success:disabled:hover {
  cursor: not-allowed;
  background-color: var(--success-btn-bg-disabled);
}

.btn.btn-danger {
  background-color: var(--danger-btn-bg);
  color: var(--danger-btn-text);
}
.btn.btn-danger:hover {
  background-color: var(--danger-btn-bg-hover);
}
.btn.btn-danger.disabled,
.btn.btn-danger:disabled {
  background-color: var(--danger-btn-bg-disabled);
}
.btn.btn-danger.disabled:hover,
.btn.btn-danger:disabled:hover {
  cursor: not-allowed;
  background-color: var(--danger-btn-bg-disabled);
}

.btn.btn-warning {
  background-color: var(--warning-btn-bg);
  color: var(--warning-btn-text);
}
.btn.btn-warning:hover {
  background-color: var(--warning-btn-bg-hover);
}
.btn.btn-warning.disabled,
.btn.btn-warning:disabled {
  background-color: var(--warning-btn-bg-disabled);
}
.btn.btn-warning.disabled:hover,
.btn.btn-warning:disabled:hover {
  cursor: not-allowed;
  background-color: var(--warning-btn-bg-disabled);
}

.btn.btn-info {
  background-color: var(--info-btn-bg);
  color: var(--info-btn-text);
}
/* -- END BUTTON COLOR CLASSES -- */
.btn.btn-info:hover {
  background-color: var(--info-btn-bg-hover);
}
.btn.btn-info.disabled,
.btn.btn-info:disabled {
  background-color: var(--info-btn-bg-disabled);
}
.btn.btn-info.disabled:hover,
.btn.btn-info:disabled:hover {
  cursor: not-allowed;
  background-color: var(--info-btn-bg-disabled);
}
/* -- END BUTTON COLOR CLASSES -- */

/* -- START BUTTON TEXT COLOR CLASSES -- */

.btn-text.btn-text-white {
  color: var(--btn-text-white);
}
.btn-text.btn-text-black {
  color: var(--btn-text-black);
}
.btn-text.btn-text-gray-light {
  color: var(--btn-text-gray-light);
}
.btn-text.btn-text-gray-dark {
  color: var(--btn-text-gray-dark);
}

/* text color for links */
.btn .btn-text {
  border-radius: 0.25rem;
}
.btn-outline .btn-text {
  border-radius: 0.25rem;
}
.btn .btn-text a {
  color: var(--primary-btn-text);
}
.btn-outline .btn-text a {
  color: var(--primary-btn-text);
}
.btn-text.btn-text-white a {
  color: var(--btn-text-white);
}
.btn-text.btn-text-black a {
  color: var(--btn-text-black);
}
.btn-text.btn-text-gray-light a {
  color: var(--btn-text-gray-light);
}
.btn-text.btn-text-gray-dark a {
  color: var(--btn-text-gray-dark);
}

/* -- END BUTTON TEXT COLOR CLASSES -- */

/* -- START OUTLINE BUTTON CLASSES -- */

.btn-outline.btn-primary {
  border: 3px solid var(--primary-btn-bg);
  color: var(--primary-text);
}
.btn-outline.btn-primary:hover {
  border: 3px solid var(--primary-btn-bg);
  background-color: var(--primary-btn-bg);
  color: var(--primary-btn-text);
}
.btn-outline.btn-primary.disabled,
.btn-outline.btn-primary:disabled {
  border: 3px solid var(--primary-btn-bg);
  background-color: var(--primary-btn-bg-disabled);
  color: var(--primary-btn-text);
}
.btn-outline.btn-primary.disabled:hover,
.btn-outline.btn-primary:disabled:hover {
  cursor: not-allowed;
  border: 3px solid var(--primary-btn-bg);
  background-color: var(--primary-btn-bg-disabled);
  color: var(--primary-btn-text);
}

.btn-outline.btn-secondary {
  border: 3px solid var(--secondary-btn-bg);
  color: var(--secondary-text);
}
.btn-outline.btn-secondary:hover {
  border: 3px solid var(--secondary-btn-bg);
  background-color: var(--secondary-btn-bg);
  color: var(--secondary-btn-text);
}
.btn-outline.btn-secondary.disabled,
.btn-outline.btn-secondary:disabled {
  border: 3px solid var(--secondary-btn-bg);
  background-color: var(--secondary-btn-bg-dis--primary-btn-bg-disabled);
  color: var(--secondary-btn-text);
}
.btn-outline.btn-secondary.disabled:hover,
.btn-outline.btn-secondary:disabled:hover {
  cursor: not-allowed;
  border: 3px solid var(--secondary-btn-bg);
  background-color: var(--secondary-btn-bg-dis--primary-btn-bg-disabled);
  color: var(--secondary-btn-text);
}

.btn-outline.btn-success {
  border: 3px solid var(--success-btn-bg);
  color: var(--success-text);
}
.btn-outline.btn-success:hover {
  border: 3px solid var(--success-btn-bg);
  background-color: var(--success-btn-bg);
  color: var(--success-btn-text);
}
.btn-outline.btn-success.disabled,
.btn-outline.btn-success:disabled {
  border: 3px solid var(--success-btn-bg);
  background-color: var(--success-btn-bg-dis--primary-btn-bg-disabled);
  color: var(--success-btn-text);
}
.btn-outline.btn-success.disabled:hover,
.btn-outline.btn-success:disabled:hover {
  cursor: not-allowed;
  border: 3px solid var(--success-btn-bg);
  background-color: var(--success-btn-bg-dis--primary-btn-bg-disabled);
  color: var(--success-btn-text);
}

.btn-outline.btn-danger {
  border: 3px solid var(--danger-btn-bg);
  color: var(--danger-text);
}
.btn-outline.btn-danger:hover {
  border: 3px solid var(--danger-btn-bg);
  background-color: var(--danger-btn-bg);
  color: var(--danger-btn-text);
}
.btn-outline.btn-danger.disabled,
.btn-outline.btn-danger:disabled {
  border: 3px solid var(--danger-btn-bg);
  background-color: var(--danger-btn-bg-dis--primary-btn-bg-disabled);
  color: var(--danger-btn-text);
}
.btn-outline.btn-danger.disabled:hover,
.btn-outline.btn-danger:disabled:hover {
  cursor: not-allowed;
  border: 3px solid var(--danger-btn-bg);
  background-color: var(--danger-btn-bg-dis--primary-btn-bg-disabled);
  color: var(--danger-btn-text);
}

.btn-outline.btn-warning {
  border: 3px solid var(--warning-btn-bg);
  color: var(--warning-text);
}
.btn-outline.btn-warning:hover {
  border: 3px solid var(--warning-btn-bg);
  background-color: var(--warning-btn-bg);
  color: var(--warning-btn-text);
}
.btn-outline.btn-warning.disabled,
.btn-outline.btn-warning:disabled {
  border: 3px solid var(--warning-btn-bg);
  background-color: var(--warning-btn-bg-dis--primary-btn-bg-disabled);
  color: var(--warning-btn-text);
}
.btn-outline.btn-warning.disabled:hover,
.btn-outline.btn-warning:disabled:hover {
  cursor: not-allowed;
  border: 3px solid var(--warning-btn-bg);
  background-color: var(--warning-btn-bg-dis--primary-btn-bg-disabled);
  color: var(--warning-btn-text);
}

.btn-outline.btn-info {
  border: 3px solid var(--info-btn-bg);
  color: var(--info-text);
}
.btn-outline.btn-info:hover {
  border: 3px solid var(--info-btn-bg);
  background-color: var(--info-btn-bg);
  color: var(--info-btn-text);
}
.btn-outline.btn-info.disabled,
.btn-outline.btn-info:disabled {
  border: 3px solid var(--info-btn-bg);
  background-color: var(--info-btn-bg-dis--primary-btn-bg-disabled);
  color: var(--info-btn-text);
}
.btn-outline.btn-info.disabled:hover,
.btn-outline.btn-info:disabled:hover {
  cursor: not-allowed;
  border: 3px solid var(--info-btn-bg);
  background-color: var(--info-btn-bg-dis--primary-btn-bg-disabled);
  color: var(--info-btn-text);
}
/* -- END OUTLINE BUTTON CLASSES -- */

/* -- START BUTTON DISABLED STATES -- */
.btn.disabled,
.btn.disabled:hover,
.btn:disabled {
  box-shadow: none;
  background-color: var(--blue-100);
  color: var(--gray-500);
}
.btn-outline.disabled,
.btn-outline.disabled:hover,
.btn-outline:disabled {
  box-shadow: none;
  background-color: var(--blue-100);
  color: var(--gray-500);
}
/* -- END BUTTON DISABLED STATES -- */
/* -- START BUTTONS WITH ICONS -- */

.btn.with-icon,
.btn-outline.with-icon {
  font: inherit;
}

.btn i,
.btn-outline i {
  padding: 0rem 0.5rem;
  align-self: center;
}
/* -- END BUTTONS WITH ICONS -- */

/* -- START FLOATING ACTION BUTTONS -- */

.floating-button-container {
  position: relative;
  height: 150px;
  margin: 0.5rem 0rem;
}
.floating-button-container .btn.floating-button {
  position: absolute;

  top: auto;
  bottom: 1rem;
  left: 40%;
  right: 40%;

  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
}
.btn.floating-button.float-top-right {
  top: 1rem;
  bottom: auto;
  left: auto;
  right: 1rem;
}
.btn.floating-button.float-top-left {
  top: 1rem;
  bottom: auto;
  left: 1rem;
  right: auto;
}
.btn.floating-button.float-bottom-right {
  top: auto;
  bottom: 1rem;
  left: auto;
  right: 1rem;
}
.btn.floating-button.float-bottom-left {
  top: auto;
  bottom: 1rem;
  left: 1rem;
  right: auto;
}
/* -- END FLOATING ACTION BUTTONS -- */

/* - END BUTTONS CSS - */

/* START MEDIA QUERIES */
/* M - Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  /* M - START mobile menu layout - */
  .page-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, auto);
    gap: 0px 0px;
    grid-template-areas:
      "header"
      "menu"
      "content"
      "footer";
    min-height: 100vh;
  }

  .page-container .header {
    grid-area: header;
    min-height: 5%;
    font-family: var(--heading-font);
    padding: 1rem;
    background-color: var(--blue-100);
    max-height: 250px;
    padding: 0.5rem;
  }
  .page-container .menu {
    grid-area: menu;
    padding: 0.5rem;
    background-color: var(--side-menu-bg);
    display: block;
  }
  .page-container .content {
    grid-area: content;
    padding: 0rem 0.5rem;
  }
  .page-container .footer {
    grid-area: footer;
    padding: 1rem;
    min-height: 5%;
    font-family: var(--heading-font);
    background-color: var(--blue-300);
  }

  /* M -- START mobile/desktop menu visibility -- */
  .page-container .menu .mobile-menu {
    padding: 0.05%;
    display: block;
  }
  .page-container .menu .desktop-menu {
    padding: 0.05%;
    display: none;
  }
  /* M -- END mobile/desktop menu visibility -- */
  /* M - END mobile menu layout - */

  /* M - START grid layout - */
  .grid-2 {
    grid-template-columns: 100%;
  }
  .grid-3 {
    grid-template-columns: 100%;
  }
  .grid-4 {
    grid-template-columns: 100%;
  }
  .grid-5 {
    grid-template-columns: 100%;
  }
  /* M - END grid layout - */
}

/* T - Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width: 768px) {
  /* T - START mobile menu layout - */

  .page-container {
    display: grid;
    grid-template-columns: 25% repeat(3, auto);

    grid-template-rows: repeat(3, auto);
    gap: 0px 0px;
    grid-template-areas:
      "header header header header"
      "menu content content content"
      "footer footer footer footer";
    min-height: 100vh;
  }
  .page-container .header {
    grid-area: header;
    min-height: 5%;
    font-family: var(--heading-font);
    padding: 1rem;
    background-color: var(--blue-100);
    max-height: 250px;
  }
  .page-container .menu {
    grid-area: menu;
    padding: 0.5rem;
    background-color: var(--side-menu-bg);
    display: block;
  }

  .page-container .content {
    grid-area: content;
    padding: 0rem 0.5rem;
  }
  .page-container .footer {
    grid-area: footer;
    padding: 1rem;
    min-height: 5%;
    font-family: var(--heading-font);
    background-color: var(--blue-300);
  }
  /* T -- START mobile/desktop menu visibility -- */
  .page-container .menu .mobile-menu {
    padding: 0.05%;
    display: none;
  }
  .page-container .menu .desktop-menu {
    padding: 0.05%;
    display: block;
  }
  /* T -- END mobile/desktop menu visibility -- */
  /* T - END mobile menu layout - */

  /* T - START grid layout - */
  .grid-2 {
    grid-template-columns: 50% 50%;
  }
  .grid-3 {
    grid-template-columns: 50% 50%;
  }
  .grid-4 {
    grid-template-columns: 50% 50%;
  }
  .grid-5 {
    grid-template-columns: 50% 50%;
  }
  /* T - END grid layout - */
}

/* D - Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 769px) and (max-width: 1200px) {
  /* D - START mobile menu layout - */

  .page-container {
    display: grid;
    grid-template-columns: 20% repeat(3, auto);

    grid-template-rows: repeat(3, auto);
    gap: 0px 0px;
    grid-template-areas:
      "header header header header"
      "menu content content content"
      "footer footer footer footer";
    min-height: 100vh;
  }
  .page-container .header {
    grid-area: header;
    min-height: 5%;
    font-family: var(--heading-font);
    padding: 1rem;
    background-color: var(--blue-100);
    max-height: 250px;
  }
  .page-container .menu {
    grid-area: menu;
    padding: 0.5rem;
    background-color: var(--side-menu-bg);
    display: block;
  }

  .page-container .content {
    grid-area: content;
    padding: 0rem 0.5rem;
  }
  .page-container .footer {
    grid-area: footer;
    padding: 1rem;
    min-height: 5%;
    font-family: var(--heading-font);
    background-color: var(--blue-300);
  }

  /* D -- START mobile/desktop menu visibility -- */
  .page-container .menu .mobile-menu {
    padding: 0.05%;
    display: none;
  }
  .page-container .menu .desktop-menu {
    padding: 0.05%;
    display: block;
  }
  /* D -- END mobile/desktop menu visibility -- */
  /* D - END mobile menu layout - */

  /* D - START grid layout - */
  .grid-2 {
    grid-template-columns: 50% 50%;
  }
  .grid-3 {
    grid-template-columns: 33% 33% 33%;
  }
  .grid-4 {
    grid-template-columns: 33% 33% 33%;
  }
  .grid-5 {
    grid-template-columns: 33% 33% 33%;
  }
  /* D - END grid layout - */
}

/* DX - Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  /* DX - START mobile menu layout - */

  .page-container {
    display: grid;
    grid-template-columns: 20% repeat(3, auto);
    grid-template-rows: repeat(3, auto);
    gap: 0px 0px;
    grid-template-areas:
      "header header header header"
      "menu content content content"
      "footer footer footer footer";
    min-height: 100vh;
  }
  .page-container .header {
    grid-area: header;
    min-height: 5%;
    font-family: var(--heading-font);
    padding: 1rem;
    background-color: var(--blue-100);
    max-height: 250px;
  }
  .page-container .menu {
    grid-area: menu;
    padding: 0.5rem;
    background-color: var(--side-menu-bg);
    display: block;
  }

  .page-container .content {
    grid-area: content;
    padding: 0rem 0.5rem;
  }
  .page-container .footer {
    grid-area: footer;
    padding: 1rem;
    min-height: 5%;
    font-family: var(--heading-font);
    background-color: var(--blue-300);
  }

  /* DX -- START mobile/desktop menu visibility -- */
  .page-container .menu .mobile-menu {
    padding: 0.05%;
    display: none;
  }
  .page-container .menu .desktop-menu {
    padding: 0.05%;
    display: block;
  }
  /* DX -- END mobile/desktop menu visibility -- */
  /* DX - END mobile menu layout - */

  /* DX - START grid layout - */
  .grid-2 {
    grid-template-columns: 50% 50%;
  }
  .grid-3 {
    grid-template-columns: 33% 33% 33%;
  }
  .grid-4 {
    grid-template-columns: 25% 25% 25% 25%;
  }
  .grid-5 {
    grid-template-columns: 20% 20% 20% 20% 20%;
  }
  /* DX - END grid layout - */
}
/* END MEDIA QUERIES */
